[Desktop Entry]
Version=1.0
Name=systemd user-session
Name[de]=systemd-Benutzersitzung
Name[es]=Sesión de usuario de systemd
Name[fi]=systemd user-session
Name[gl]=Sesión de usuario de systemd
Name[nl]=systemd gebruikerssessie
Name[pt]=Sessão de utilizador do systemd
Name[pt_BR]=Sessão de usuário do systemd
Name[sk]=Sedenie používateľa systemd
Name[sv]=systemd användarsession
Name[uk]=Сеанс користувача systemd
Name[x-test]=xxsystemd user-sessionxx
Comment=Run a systemd user-session
Comment[de]=Startet eine systemd-Benutzersitzung
Comment[es]=Ejecutar una sesión de usuario de systemd
Comment[fi]=Suorita systemd user-session
Comment[gl]=Executar unha sesión de usuario de systemd
Comment[nl]=Een systemd gebruikerssessie uitvoeren
Comment[pt]=Executa uma sessão de utilizador do systemd
Comment[pt_BR]=Executa uma sessão de usuário do systemd
Comment[sk]=Spustiť sedenie používateľa systemd
Comment[sv]=Kör en systemd användarsession
Comment[uk]=Запустити сеанс користувача systemd
Comment[x-test]=xxRun a systemd user-sessionxx
Exec=/usr/local/bin/startsystemd
Icon=
Type=Application
