[Unit]
Description=Baloo file indexer
Requires=kded.service

[Service]
ExecStart=/usr/bin/baloo_file
ExecStop=/usr/bin/balooctl stop
BusName=org.kde.baloo
KillMode=none

[Install]
Alias=indexer.service
