[Unit]
Description=KDE Plasma Workspace Activity Manager
Before=plasmashell.service window-manager.service kglobalaccel.service

[Service]
ExecStart=/usr/bin/kactivitymanagerd start-daemon
ExecStop=/usr/bin/kactivitymanagerd stop
KillMode=none
BusName=org.kde.ActivityManager
