[Unit]
Description=KDE Service Manager
Requires=kdeinit.service

[Service]
ExecStart=/usr/bin/kded5
ExecStop=/usr/bin/kquitapp5 kded5
BusName=org.kde.kded5
