[Unit]
Description=KDE 'kded' - TODO 
Requires=kdeinit.service

[Service]
ExecStart=/usr/bin/kded5
BusName=org.kde.kded5
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=%t/bus" KDE_FULL_SESSION=1 KDE_SESSION_VERSION=5
