[Unit]
Description=KDE Global Hotkey Manager

[Service]
ExecStart=/usr/bin/kglobalaccel5
ExecStop=/usr/bin/kquitapp5 kglobalaccel
BusName=org.kde.kglobalaccel
