[Unit]
Description=KDE Global Hotkey Manager

[Service]
ExecStart=/usr/bin/kglobalaccel5
ExecStop=/usr/bin/kquitapp5 kglobalaccel
BusName=org.kde.kglobalaccel
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=%t/bus" XDG_CURRENT_DESKTOP=KDE KDE_FULL_SESSION=1 KDE_SESSION_VERSION=5
