[Unit]
Description=KDE ksmserver (TODO: proper description)
# For some reason, dbus.service isn't spawned by only requiring dbus.socket.
# Needs some investigation...
Requires=dbus.socket dbus.service
After=dbus.socket dbus.service
#AllowIsolate=true

[Service]
ExecStart=/usr/bin/ksmserver
BusName=org.kde.ksmserver
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=%t/bus" KDE_FULL_SESSION=1 KDE_SESSION_VERSION=5
