[Unit]
Description=KDE Plasma Workspace Transaction Monitor
Before=plasmashell.service window-manager.service

[Service]
ExecStart=/usr/bin/kuiserver5
ExecStop=/usr/bin/kquitapp5 kuiserver
BusName=org.kde.kuiserver
