[Unit]
Description=KDE Window Manager 
Requires=kglobalaccel.service kded.service

[Service]
ExecStart=/usr/bin/kwin_x11 --replace
BusName=org.kde.KWin
KillMode=none

[Install]
Alias=window-manager.service
